body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
    font-size: 22px;
    font-weight: 900;
}

.card {
    background-color: white;
    border: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 70px 15px 0px 15px;
}

.card-contents {
    padding: 10px 20px 20px 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}

.description {
    text-align: center;
    padding: 0px 15px 20px 15px;
}

.description p {
    font-size: 15px;
    font-weight: 500;
    color: rgb(126, 124, 143);
    line-height: 1.7;
    margin-bottom: 0px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px 3px 20px 3px;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
}

.music-note {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan {
    line-height: 0.5;
}

.plan h2 {
    font-size: 14px;
}

.plan p {
    font-size: 14px;
    color: rgb(126, 124, 143);
}

.change {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: column;
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-bottom: 50px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}